{% extends 'base.html' %}

{% block title %} 
    {{ post.title }} 
{% endblock %}

{% block content %}

<style>
    .btn:hover{
        background-color: #00b3db;
        color: #fff;
    }
</style>

<h1> {{ post.title }} </h1>
<small>
    By: {{ post.author.first_name }} 
    {{ post.author.last_name }} - 
    {{post.published_date}}
    {% if user.is_authenticated %}
    - <a href="{% url 'update_post' post.pk %}">(Edit)</a>
    - <a href="{% url 'update_post' post.pk %}">(Delete)</a>
    {% endif %}
</small>

<hr><br>
<p>
    {{post.body|safe}}
</p>

<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

<br>
<br>
<hr>

<form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}
    <button type="submit", name="post_id", value="{{ post.id }}" class="btn btn-secondary active far fa-thumbs-up">
        <!-- <i class="far fa-thumbs-up 2x"></i> -->
    </button> {{ total_likes }}
    <button type="submit", name="post_id", value="{{ post.id }}" class="btn btn-secondary far fa-thumbs-down">
        <!-- <i class="far fa-thumbs-up 2x"></i> -->
    </button> {{ total_likes }}
</form>

{% endblock %}