{% extends 'base.html' %}

{% block content %}

<style>
    .btn i{
        text-decoration: none;
    }
</style>

<h1>Posts</h1>

<!-- for post in posts in case if you are using function -->
<ul>
{% for post in object_list %}
    <li>
        <a href="{% url 'article_detail' post.pk %}">{{ post.title }}</a>
         - {{ post.author.first_name }} {{ post.author.last_name }} : 
         {{post.published_date}} 
         - <a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a> 
            <small>
                {% if user.is_authenticated  %}
                    {% if user.id == post.author.id %} 
                        - <a href="{% url 'update_post' post.pk %}">(Edit)</a>
        
                        - <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
                    {% endif %}
                {% endif %}
            </small>
            <br>
            <!--  -->
        {{ post.snippet }}
        {{ post.body| slice:":200" |safe }}
    </li>
{% endfor %}
</ul>

{% endblock %}

